version: "3.9"

services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: db-manager-projects
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data

  app:
    build: .
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "3333:3333"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
